@{
    ViewBag.Title = "Home Page";
}


<p>This is the home page for Practical 15 which are about the authentication.</p>

Here I implimented the windows authentication.

if you access this page without adding id and password try to open page in incognito mode!



